.pageLogin {
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 804px;
  opacity: 1;
  z-index: 1;
}

.info {
  display: flex;
  flex-direction: column;
  opacity: 0;
  margin-bottom: 32px;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(-100%);
  animation: slide-down 1s ease-in-out forwards;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.login {
  margin-top: 148px;
  margin-left: 440px;
  width: 400px;
  height: 676px;
  opacity: 1;
  z-index: 1;
}

.logo {
  width: 264px;
  height: 76px;
  background: transparent url(.././assets/Grupo\ 258.svg) 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 1;
  cursor: pointer;
}


.txt1 {
  width: 368px;
  height: 48px;
  margin-top: 12px;
  margin-bottom: 9px;
  text-align: center;
  font: normal normal bold 40px/55px Open Sans;
  letter-spacing: 0px;
  color: #413E4D;
  opacity: 1;
  z-index: 1;
}

.txt2 {
  margin: auto;
  width: 368px;
  height: 20px;
  text-align: center;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #413E4D;
  opacity: 1;
  z-index: 1;
}

.form {
  position: relative;
  width: 400px;
  height: auto;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 16px #00000029;
  border-radius: 12px;
  opacity: 1;
  z-index: 1;
  transform: translateY(-100%);
  animation: form-anim 1s ease-in-out forwards;

}

@keyframes form-anim {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.input {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: 12px;
  width: 368px;
  height: 56px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #ABB9C780;
  border-radius: 6px;
  text-align: left;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #ABB9C7;
  opacity: 1;
  z-index: 1;
}

.input2 {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  width: 368px;
  height: 56px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #ABB9C780;
  border-radius: 6px;
  text-align: left;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #ABB9C7;
  opacity: 1;
  z-index: 1;
}

.btn {
  position: relative;
  margin-left: 113px;
  margin-right: 113px;
  margin-top: 32px;
  margin-bottom: 24px;
  width: 174px;
  height: 48px;
  background: #DD3542 0% 0% no-repeat padding-box;
  border-radius: 24px;
  text-align: center;
  font: normal normal bold 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  cursor: pointer;
  z-index: 1;
  transform: translateY(-100%);
  animation: btn-anim 1s ease-in-out forwards;
  border: none;
  outline: none;

}

@keyframes btn-anim {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.forget {
  position: relative;
  margin: 0;
  text-align: center;
  text-decoration: underline;
  z-index: 1;
  transform: translateY(-100%);
  animation: forget-anim 1s ease-in-out forwards;

}

@keyframes forget-anim {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}


.forgetLink {
  text-align: center;
  text-decoration: underline;
  font: normal normal normal 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #413E4D;
  opacity: 1;
  z-index: 1;
}

#point1 {
  position: relative;
  z-index: 1;
  top: 16%;
  left: -30%;

}

#point1 svg {
  top: 16%;
  left: 20%;
  position: absolute;
  background: transparent url(.././assets/Grupo\ 36052.svg) 0% 0% no-repeat padding-box;
  transform: translateY(-15%);
  transition: all 2s ease;
  height: 23px;
  opacity: 0;
  transition: opacity 1s ease;
}

#redpoint1 {
  position: relative;
  top: -45%;
  left: -25%;
  width: 8px;
  height: 8px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#redpoint1 svg {
  background: transparent url(.././assets/Elipse\ 197.svg)0% 0% no-repeat padding-box;
  left: 70%;
  opacity: 1;
}

#rectangles1 {
  position: relative;
  z-index: 1;
  top: 10%;
  left: 30%;
}

#rectangles1 svg {

  position: absolute;
  background: transparent url(.././assets/Grupo\ 32967.svg) 0% 0% no-repeat padding-box;
  top: 50%;
  left: 719px;
  z-index: 0;
  transform: translateY(-50%);
  transition: all 2s ease;
  width: 719px;
  height: 700px;
  opacity: 0;
  transition: opacity 1s ease;
}

#point2 {
  position: relative;
  z-index: 1;
  top: 6%;
  right: -80%;

}

#point2 svg {
  top: 0%;
  right: 20%;
  position: absolute;
  background: transparent url(.././assets/Grupo\ 36052.svg) 0% 0% no-repeat padding-box;
  transform: translateY(-15%);
  transition: all 2s ease;
  height: 23px;
  opacity: 0;
  transition: opacity 1s ease;
}


#rectangles2 {
  position: relative;
  z-index: 1;
  top: 75%;
  right: 25%;
}

#rectangles2 svg {
  position: absolute;
  background: transparent url(.././assets/Grupo\ 32967.svg) 0% 0% no-repeat padding-box;
  top: 50%;
  right: 719px;
  z-index: 0;
  transform: translateY(-50%);
  transition: all 2s ease;
  width: 719px;
  height: 700px;
}

#redpoint2 {
  position: relative;
  top: -10%;
  left: 115%;
  width: 8px;
  height: 8px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#redpoint2 svg {
  background: transparent url(.././assets/Elipse\ 197.svg)0% 0% no-repeat padding-box;
  left: 70%;
  opacity: 1;
}